<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>el 挂载点</title>
  </head>
  <body>
    <!-- 只能支持双标签 -->
    <div id="app">
      <button v-on:click = "add">添加数据</button>
      <button v-on:click = "remove">删除数据</button>
     <ul>
       <li v-for="(item,index) in arr">
         {{index+1}}黑马程序员:{{item}}
       </li>
       
     </ul>
     <h2 v-for="item in vTables" v-bind:title="item.name">
         {{item.name}}
    </h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
     var app = new  Vue({
       el:"#app",
       data:{
         arr:["北京","上海","广州","深圳"],
         vTables:[
           {name:"西兰花炒蛋"},
           {name:"蛋炒西兰花"}
         ]
       },
       methods:{
         add:function(){
         this.vTables.push({name:"西红柿炒蛋"})
         },
         remove:function(){
           this.vTables.shift()

         }
       }
     })

    </script> 




  </body>
</html> 